
.validation{
  font-size: 10px;
  color: rgb(247, 82, 82);
}

.input-invalid{
  border-color:  rgb(247, 82, 82);
}
.submit-btn {
  background: #635CA8 0% 0% no-repeat padding-box;
  border-radius: 4px;
  font-size: 14px;
}