<div class="container pt-3">

  <div class="bg-light py-3 rounded my-3 shadow">
    <div class="d-flex  px-3">
      <button class="btn btn-primary btn-sm rounded-btn rounded-circle p-2 mx-1 shadow ">
        <app-feather-icons [icon]="'filter'"></app-feather-icons>
      </button>

      <button (click)="OpenAddTaskDialog()" class="btn btn-success btn-sm rounded-btn rounded-circle p-2 mx-2 shadow ">
        <app-feather-icons [icon]="'plus'"></app-feather-icons>
      </button>

    </div>
  </div>

  <div class="row pt-3">
    <div class="col-12">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th><strong>#</strong></th>
            <th><strong>Task Name</strong></th>
            <th><strong>Priority</strong></th>
            <th><strong>Due Date</strong></th>
            <th><strong>Done</strong></th>
            <th class="text-center"><strong>Action</strong></th>
          </tr>
        </thead>
        <tbody>
          @for (task of TaskList; track $index) {
          <tr>
            <td style="text-align: center;">{{$index + 1}}</td>
            <td>{{task?.name}}</td>
            <td>{{task?.priority}}</td>
            <td>{{task?.date}}</td>
            <td>
              <app-feather-icons [icon]="task.isComblete ? 'check' : 'x'"
                [classList]="task.isComblete ? 'text-success' : 'text-danger'"></app-feather-icons>
            </td>
            <td class="text-center">
              <button class="btn btn-success btn-sm rounded-btn mx-1 rounded-4" *ngIf="!task?.isComblete">
                <app-feather-icons [icon]="'check-circle'"></app-feather-icons>
              </button>
              <button class="btn btn-danger btn-sm rounded-btn rounded-4 ">
                <app-feather-icons [icon]="'trash-2'"></app-feather-icons>
              </button>
            </td>
          </tr>
          }
          @if (!TaskList.length) {
          <tr>
            <td colspan="5" rowspan="5" class="text-center"> There is no tasks </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

  </div>
</div>

<ng-template #AddTask let-d="dismiss">

  <div class="p-2">
    <button type="button" class="btn-close " aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <form [formGroup]="Form" class="py-3 needs-validation" novalidate>

      <div class="row mt-4">

        <div class="mb-3 col-6">
          <label for="validationCustom01" class="form-label">Task Name</label>
          <input type="text" formControlName="name" id="validationCustom01" class="form-control"
            [ngClass]="{ 'input-invalid' : Form.get('name')?.hasError('required') && isSubmit }">
          @if(Form.get('name')?.hasError('required') && isSubmit){
          <span class="validation">
            Please enter your task name.
          </span>
          }
        </div>


        <div class="mb-3 col-6">
          <label class="form-label">Priority</label>
          <select class="form-select" formControlName="priority"
            [ngClass]="{ 'input-invalid' : Form.get('priority')?.hasError('required') && isSubmit }">
            @for (p of priorities; track $index) {
            <option [value]="p">{{p}}</option>
            }
          </select>
          @if(Form.get('priority')?.hasError('required') && isSubmit){
          <span class="validation">
            Please select task priority.
          </span>
          }
        </div>


        <div class="mb-3 col-6">
          <label for="validationCustom02" class="form-label">Task Due Date</label>
          <input type="date" formControlName="date" id="validationCustom02" class="form-control"
            [ngClass]="{ 'input-invalid' : Form.get('date')?.hasError('required') && isSubmit }">
          @if(Form.get('date')?.hasError('required') && isSubmit){
          <span class="validation">
            Please enter your task due date.
          </span>
          }
        </div>

        <div class="mb-3 col-6">
          <label for="validationCustom01" class="form-label">Task Discription</label>
          <input type="text" formControlName="description" id="validationCustom01" class="form-control"
            [ngClass]="{ 'input-invalid' : Form.get('description')?.hasError('required') && isSubmit }">
          @if(Form.get('description')?.hasError('required') && isSubmit){
          <span class="validation">
            Please enter your task discription.
          </span>
          }
        </div>

      </div>

      <div class="d-flex justify-content-end">
        <button (click)="submit()" type="submit" class="btn submit-btn p-2 text-white fw-bold">
          Add Task
          <app-feather-icons [icon]="'arrow-right'" [class]="'ms-3'"></app-feather-icons>
        </button>
      </div>

    </form>


  </div>

</ng-template>
